@import 'tailwindcss';

@theme {
  --grid-template-columns-13: repeat(13, minmax(0, 1fr));

  --color-blue-400: #2589fe;
  --color-blue-500: #0070f3;
  --color-blue-600: #2f6feb;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.revertstyles h1 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5em;
}
div.revertstyles h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
}
div.revertstyles h3 {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5em;
}

div.revertstyles a {
  color: blue;
  text-decoration: underline;
}

div.revertstyles ul {
  list-style-type: disc;
  padding-left: 40px;
}

div.revertstyles ol {
  list-style-type: decimal;
  padding-left: 40px;
}

div.revertstyles p {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}