div.item:hover, tr.item:hover {
    background-color: var(--color-slate-200) !important;
    cursor: pointer;
}

div.item {
    padding: 12px;
    border-top: 1px solid;
    border-top: 1px solid;
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
}

div.item:nth-of-type(odd) {
        background-color: var(--color-slate-50);
}

div.actionGroup {


    border: 1px solid;
    position: absolute;
    opacity: 0;
    width:100%;
    display: flex;
    justify-content: end;
    align-content: center;
    height: 100%;
}

div.actionGroup:hover {
    opacity: 1;
}

div.actionGroupBox {
    padding-right: 8px;
    padding-left: 16px;
    background-color: var(--color-slate-200);
}

div.actionGroupBox > button {
    margin: 4px;
}
