.scoreInput[type="number"] {
    width: 5rem;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}

.scoreError {
    border-color: red;
}

.scoreInput:disabled {
    background-color: lightgrey;
}