.scoreInput[type="number"] {
    width: 5rem;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 0.5rem;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.scoreError {
    border-color: red;
}

.scoreInput:disabled {
    background-color: whitesmoke;
}